@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.flexy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-color{
  color: #fc5185!important;
}

.dark-background{
  background-color: #fc5185!important;
}

.light-background{
  background-color: #fec7d8!important;
  /* background-color: #fc5185!important; */
}

.section-heading{
  font-weight: 500;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}


.section-subheading{
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}

.small-section{
  width: min(100vw, 968px);
}



/* scroll */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.60rem;
  background-color: #fec7d8;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #fec7d8;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fd91b2;
}